################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# Visual Studio 2015/2017 cache/options directory
.vs/

# NuGet Packages
*.nupkg
/SM/SM.ConsoleApp/output-win-x64
/SM/SM.ConsoleApp/Properties/PublishProfiles
